.container{
    padding-top: 6%;
    margin-left: 18%;
    width: 70%;

    background-repeat: no-repeat;
    background-attachment: fixed
}
h1{
	font-size: 16px;
    margin: 30px;
    font-family: 'Open Sans';
    font-weight: bolder;
    color: #000;
    text-align: center;
}
.title{
    font-weight: bolder;
    margin: 2px;
}
h2{
	  font-size: 14px;
    margin-bottom: 30px;
    font-family: 'Open Sans';
    font-weight: bolder;
    color: #000;
}
