#calendario{
    margin-left: 7%;
    height: 70%;
}
.fc-toolbar h2{
    font-size: 1.4em;
}
.container{
    width: 55%;
    margin-left: 25%;
}
select{
    width: 40% !important;
    margin-left: 2em;
}
label{
    margin-left: 3em;
}
.fc-toolbar h2{
    font-size: 1.2em;
}
.form-control{
    display: inline-block;
}