*{
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 14px;
}
h1{
    margin-bottom: 5px;
    margin: 0px;
    font-size: 16px;
    color: #8fbc18;
}
.post{
    margin-top: 6%;
    width: 600px;
    padding: 10px;
    display: inline-block;
    text-align: left;
    background-color: white;
    border-radius: 5px;
}
.geralzao{
    margin-left: 11%;
    text-align: center;
}
a{
  color: #2f282899;  
}
.bt_menos{
    display: none;
}
.texto img{
    width: 80% !important;
    height: auto !important;
    margin-left: 10%;
}
.borda{
    margin-left: 5%;
}