*{
	margin:0px;
	font-family: 'Open Sans', sans-serif;

}
/*DEFINIÇÃO DE GRID*/
.container{
	display: grid;
	grid-template-columns: 13vw 28vw 23vw 24vw;
	grid-template-rows: 50vh 40vh 40vh;
    text-align: left;
    background-color: #dadfe2;
    grid-gap: 1em;
    height: 120vh;
    margin-left: 3%;

}
.container div{
	border-radius: 5px;
}
.gridBarraMenu{
	grid-row-start: 1;
	grid-row-end: 4;
  	grid-column-start: 1;
	grid-column-end: 1;
	background: #343a40;
	padding-top: 5vh;
	border-radius: 0px !important;
	position: fixed;
	margin-top: 7.9vh;
	height: 100%;
	width: 155px;

}
a {
	color: #333;
	text-decoration: none;
}

	a:hover, li:hover > a {
		color: #FFF;
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

}

li {
	margin-top: 10px;
	padding: 0;

}
li:hover {
	background-color: #8fbc18;
	transition: 0.3s;
}

li ul {
	position: absolute;
	left: 149px;
	display: none;
}
#menu {
	font-size: 1.5em;
	width: 100%;
	padding-top: 3vh;
	margin-left: 3px;
}
#menu li a {
	display: block;
	padding: 0.5em ;
	white-space: nowrap;

}
body{
	background-color: #dadfe2;
	overflow-x: hidden;
	margin-bottom: 5vh;
}

	#setaR{
		float: right;
		display: inline-block;
	}
	#setaL{
		float: left;
		display: inline-block;
	}


.iconsSubMenu{
	height: 15px;
	width: auto;
	margin-right: 3px;
	display: inline;
}
.nav{
	width: 100%;
	height: 8vh;
	background-color: #8fbc18;
	position: fixed; 
	z-index: 10000;
}
.nav p {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	margin-left: 0.5vw;
}
.logoNav{
	height: 65px;
	width: auto;
	margin-left: 10px;
	display: inline-block;
}
.userNav{
	height: 4vh;
	width: auto;
	margin-top: 12px;
	margin-bottom: 4px;
	display: inline-block;
}

.notificationNav{
	height: 2vh;
	width: auto;
	margin-left: 6.8vw;
	margin-bottom: 10px;
	display: inline-block;
}
.iconsGrid{
	height: 18px;
	display: inline;
	width: auto;
	margin-right: 5px;
}
.gridProtais img{
		height: 3.5vh;
		margin-right: 2vw;
}
.iconsMenu{
	height: 17px;
	display: inline-block;
	margin-right: 5px;
}
.arrow{
	height: 10px;
	display: inline-block;
	margin-right: 5px;
}
li p{
	display: inline-block;
	font-size: 1em;
	margin-bottom: 4px;
}

/*GRID VERSION 4*/
iframe{
	height: 85% !important;
	width: 90%;
	margin-left: 4%;
	border-radius: 5px;
}
.gridBanner{
	grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
	grid-column-end: 4;
	background-color: #FFF;
	margin-top: 11vh;
	margin-left: 4vw;
}
.gridReservas{
	grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
	grid-column-end: 5;
	background-color: #FFF;
	margin-top: 11vh;
	padding: 15px;
}
.gridNoticias{
	grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
	grid-column-end: 5;
	background-color: #FFF;
	padding: 15px;
	display: inline-block;
}
hr{
	margin-top: 8px;
	background-color: #a5a5a5;
	width: 95%;
	margin-bottom: 10px;
	border-top: 1px solid #a5a5a5;
}
.gridComunicados{
	grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
	grid-column-end: 4;
	background-color: #FFF;
	margin-left: 4vw;
	padding: 15px;
}
.gridAniversarios{
	grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
	grid-column-end: 5;
	background-color: #FFF;
	padding: 15px;
}
.gridTV{
	grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
	grid-column-end: 3;
	background-color: #FFF;
	padding: 15px;
}

.infoAni{
	display: inline-block;
}
.fotoAniversariante{
	height: 50px;
	width: auto;
	margin-right: 20px;
}
.gridNoticias h4{
	margin-bottom: 5px;
}
.gridComunicados h4{
	margin-bottom: 5px;
	margin: 0px;
	font-family: 'Open Sans';
	cursor: pointer;
}
.gridComunicados p{
	margin-left: 2%;

}
.gridNoticias b{
	font-weight: bold;
}
.gridNoticias p{
	display: inline-block !important;
}
.gridComunicados b{
	font-weight: bold;
}
/* CALENDÁRIO ASSUSTADOR */
.calendario{
	width: 100%;
	height: 100%;
	text-align: center;
}
.cabecarioCalendario{
	text-align: center;
	background-color: #343a40;
	color: #FFF;
	width: 100%;
	height: 35%;
	padding-top: 3%;
	border-radius: 0px 0px 5px 5px;
}
.cabecarioCalendario h1{
	font-weight: bold;
	font-size: 50px;
	font: 'roboto';
}
.calendario h2{
	font-size: 18px;
	margin: 3px;
	font: 'roboto';
}
.cabecarioCalendario {
	font-size: 25px;
}
.dias{
		font-weight: bold;
}
.calendario table{
	width: 90%;
	height: 45%;
	margin-top: 0px;
	margin-left: 5%;
}
.calendario table td{
	width: 1vw !important;
	font-size: 12px;
	font: 'roboto';
	padding-right: 1% !important;
	padding-top: 1%;
	padding-bottom: 1%;
}
.calendario table td:hover{
	background-color: #D3D3D3;
}
.gridNoticias p {
    margin: 0.5em;
    margin-left: 10%;
    font-size: 13px;
    display: inline-block;
    color: #000;
}
.gridNoticias a{
	color: #000;
	margin: 0.3em;
	margin-left: 7%;
    	font-size: 14px;
    	display: inline-block;
}
.gridComunicados a {
    margin: 0.3em;
    margin-left: 7%;
    font-size: 14px;
    display: inline-block;
    color: #000;
}
.gridArquivos a {
    margin: 0.3em;
    margin-left: 7%;
    font-size: 13px;
    display: inline-block;
    color: #000;

}
.busca{
	width: 80%;
	height: 22px;
	border: none;
	margin-left: 5px;
	border-radius: 12px;
	background-image: url('../imgs/lupa.png');
  	background-repeat: no-repeat;
  	background-size: 20px;
  	background-position: 10px 1px;
  	padding-left: 34px;
}
.gridArquivos{
	grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
	grid-column-end: 3;
	background-color: #FFF;
	margin-left: 4vw;
	padding: 15px;
	overflow: scroll;
	overflow-x: hidden;
}
h4{
	font-size: 14px;
    margin: 3px;
    font-family: 'Open Sans';
    font-weight: bolder;
    color: #6f6f6f;
}
@media(min-width: 1200px){
	.container{
		width: 99.1vw;
	}
}

#carousel-example-generic.carousel.slide{
	height: 100px !important;
	display: block;
	overflow: initial;
	z-index: 3;
}

.item img{
	height: 39.1vh !important;
	width: 50vw !important;
	position: initial;
	overflow: initial;

}
#controlLeft{
	height: 35vh !important;
	position: relative;
	top: -20vh;
	left: 1vw;
	z-index: 1000;
}
#controlRight{
	height: 35vh !important;
	position: relative;
	top: -20vh;
	left: 47.5vw;
	z-index: 1000;
}
a:active {
  background-color: yellow;
}

.ui-widget .ui-widget{
	border:none;
	height: 100%;
	width: 100%;
}
.ui-datepicker .ui-datepicker-header{
	height: 15vh;
	background: none;
	background-color: #343a40;
	position: initial !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: #FFF !important;
	text-align: center;
	border: 1px solid #d6d6d6 !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	position: initial !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	position: initial !important;
	float: right !important;
	margin-top: -1.5vh !important;
}
.ui-datepicker .ui-datepicker-prev span{
	margin-right: 16.8vw;
	margin-top: 2.5vh !important;
}
.ui-datepicker .ui-datepicker-next span{
	margin-left: -5vw;
}
#carousel-example-generic{
	position: relative;

}
.container div{
	z-index: 2;
}
.container img{
	z-index: 2;
}
#menu li:hover ul {
		display: block;

	}

	.dropEmpresa li  a {

		font-size: 0.7em;
	}
		#menu li ul a:hover:before {
			content: "";
			display: block;
			width: auto;
			height: 1em;
			background: rgba(0,0,0,0.75);
			border: 1px solid #FFF;
			position: absolute;
			left: -0.75em;
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			opacity: 0; /* Hide sub level */
			-webkit-transition: opacity .5s ease-in-out;
			-moz-transition: opacity .5s ease-in-out;
			-o-transition: opacity .5s ease-in-out;
			  transform: translateY(0%);
			  transition-delay: 0s, 0s, 0.3s;
			z-index:  10000;
		}
		#menu li ul {
			position: absolute;
			overflow: hidden;
			display: none;
			left: 100%;
			top: 9.5em;
			float: none;
			background-color: #000;
			opacity: 0.5;
		}
		#menu .portaisUL {
			position: absolute;
			overflow: hidden;
			display: none;
			left: 100%;
			top: 13em;
			float: none;
			background-color: #000;
			opacity: 0.5;
		}
		/* TESTE CARROSEL*/
	* {box-sizing:border-box}

	/* Slideshow container */
	.mySlides {display:none;}
	.w3-left, .w3-right, .w3-badge {cursor:pointer}
	.w3-badge {height:13px;width:13px;padding:0}
	li a{
		font-size: 14px !important;
		color: #D4C6C6;
		width: auto;
		
	}
/*CSS nav*/
.iconMaisNome{
	display: inline-block;
	float: right;
	margin-right: 40px;
}
.dropEmpresa{
	position: absolute;
	overflow: hidden;
	display: none;
	left: 100%;
	top: 8.5em !important;
	float: none;
	background-color: #000;
	opacity: 0.5;
	z-index: 10000;
}
.dropSistemas{
	top: 8.5em !important;
}
.dropAdmin{
	top: 4.5em !important;
}